{% extends 'layout.html' %}

{% block head %}
  <link href="stylesheets/codemirror.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/codemirror-compressed.js"></script>

  {% if editorTheme != "default" %}
  <link href="stylesheets/theme/{{ editorTheme }}.css" rel="stylesheet">
  {% endif %}

  <style type="text/css">
    .CodeMirror-scroll {
      height: auto;
      overflow-y: hidden;
      overflow-x: auto;
      width: 100%;
    }
  </style>
{% endblock %}


{% block content %}


  <br /><br />

  <textarea class="span9" id="document" name="document">{{ docString }}</textarea>


<script>
  
</script>

{% endblock %}
